<div class="add-container">
<list-task class="listTaskC"> </list-task>


<div class="formAdd">

<form id="addT">

<h1>Agrega una nueva tarea</h1>

    <div class="elementOfForm">
    <label for="Tittle"><b>📒Titulo:</b></label>
    <input type="text" id="Tittle">
   

    <label for="dateT"><b>📆Plazo límite:</b></label>
    <input type="date" name="" id="dateT">

    <label for="Description"><b>📝Descripción:</b></label>
    <input type="text" id="Description">
    

    <label for="relevanceg"><b>💡Grado de Importancia:</b></label>

    <div class="optionsElements">
    
    <label for="priority">Prioridad</label>
    <input type="radio" name="gradeI" id="priority" class="imGrade" value="Prioridad">

    <label for="relevance">Relevante</label>   
    <input type="radio" name="gradeI" id="relevance" class="imGrade"  value="Relevante">

    <label for="complement">Complementaria</label>
    <input type="radio" name="gradeI" id="complement"  class="imGrade" value="Complementaria">
     </div>
   
     <button id="btnSave" type="button" (click)="whenClicked()">Guardar</button>
    
    </div>
</form>

</div>

</div>